#modal-detail-penggajian table tr td {
  padding-bottom: 10px;
}

.label-date {
  align-self: center;
  margin-right: 20px;
}

.section-right-box-title {
  width: 500px;
}

.section-daterangepicker {
  width: 223px;
}

.input-group {
  height: 5px;
}